<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>Graphics - Time for a change</title>

    <meta name="description" content="A framework for easily creating beautiful presentations using HTML">
    <meta name="author" content="Hakim El Hattab">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="css/reveal.min.css">
    <link rel="stylesheet" href="css/theme/default.css" id="theme">

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <!-- If the query includes 'print-pdf', include the PDF print sheet -->
    <script>
      if( window.location.search.match( /print-pdf/gi ) ) {
        var link = document.createElement( 'link' );
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = 'css/print/pdf.css';
        document.getElementsByTagName( 'head' )[0].appendChild( link );
      }
    </script>

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="reveal">

      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">
        <section>
          <h1>Graphics</h1>
          <h3>Time for a change</h3>
          <p>
            <small>Presentation at <a href="http://milanojs.com/">Milano JS User group</a></small>
          </p>
        </section>

        <section>
          <section>
            <h2>Evolution</h2>
            <p>Application in the browser are starting to become</p>

            <ul>
              <li>more structured</li>
              <li>more declarative</li>
            </ul>
          </section>

          <section>
            <h2>Evolution</h2>
            <p>This is what we used to do</p>
            <pre><code data-trim contenteditable>
$(function() {
  var list = $('#playground').append('ul');

  cities.forEach(function(city) {
    list.append('li')
      .data('city', city)
      .append('a')
      .text(city)
      .click(showIt);
  });
});
            </code></pre>
          </section>

          <section>
            <h2>Evolution</h2>
            <p>...and also</p>
            <pre><code data-trim contenteditable>
function showIt(event) {
  var city = $(event.target).data('city');
  alert('You clicked on ' + city);
  event.preventDefault();
}
            </code></pre>
          </section>

          <section>
            <h2>Evolution</h2>
            <p>This can become more declarative</p>
            <pre><code data-trim contenteditable>
<div id="playground">
  <ul>
    <li ng-repeat="city in cities">
      <a ng-click="print(city)">{{ city }}</a>
    </li>
  </ul>
</div>
            </code></pre>

            <pre><code data-trim contenteditable>
$scope.print = function(city) {
  alert('You clicked on ' + city);
};
            </code></pre>
          </section>

        </section>

        <section>
          <h2>This has not happened for graphics</h2>
          <img src="img/d3.png" />
        </section>

        <section>
          <section>
            <h2>Visualization</h2>
            <p>Today we can do a lot in the browser</p>
            <img src="img/ex1.png" />
          </section>

          <section>
            <h2>Visualization</h2>
            <p>Today we can do a lot in the browser</p>
            <img src="img/ex2.png" />
          </section>

          <section>
            <h2>Visualization</h2>
            <p>Today we can do a lot in the browser</p>
            <img src="img/ex3.png" />
          </section>
        </section>

        <section>
          <section>
            <h2>What has allowed this?</h2>
          </section>
        </section>

        <section>
          <section>
            <h2>HTML 5!!!</h2>
            <p>We can embed SVG inside HTML</p>
            <img src="img/3d.png" />
          </section>
        </section>

        <section>
          <section>
            <h2>SVG tags</h2>

            <pre><code data-trim contenteditable>&lt;svg width="800" height="500"&gt;</code></pre>
          </section>

          <section>
            <h2>SVG tags</h2>

            <pre><code data-trim contenteditable>
&lt;svg width="800" height="500"&gt;
  &lt;rect width="200" height="200" /&gt;
&lt;/svg&gt;
            </code></pre>
          </section>

          <section>
            <h2>SVG tags</h2>

            <pre><code data-trim contenteditable>
&lt;svg width="800" height="500"&gt;
  &lt;rect width="200" height="200" /&gt;
  &lt;circle cx="50" cy="50" r="40" /&gt;
&lt;/svg&gt;
            </code></pre>
          </section>

          <section>
            <h2>SVG tags</h2>

            <pre><code data-trim contenteditable>
&lt;svg width="800" height="500"&gt;
  &lt;g&gt;
    &lt;rect width="200" height="200" /&gt;
    &lt;circle cx="50" cy="50" r="40" /&gt;
  &lt;/g&gt;
&lt;/svg&gt;
            </code></pre>
          </section>

          <section>
            <h2>SVG tags</h2>

            <pre><code data-trim contenteditable>
&lt;svg width="800" height="500"&gt;
  &lt;g&gt;
    &lt;rect width="200" height="200" /&gt;
    &lt;circle cx="50" cy="50" r="40" /&gt;
  &lt;/g&gt;
  &lt;line x1="0" y1="0" x2="200" y2="200" /&gt;
&lt;/svg&gt;
            </code></pre>
          </section>

          <section>
            <h2>SVG tags</h2>

            <pre><code data-trim contenteditable>
&lt;svg width="800" height="500"&gt;
  &lt;g&gt;
    &lt;rect width="200" height="200" /&gt;
    &lt;circle cx="50" cy="50" r="40" /&gt;
  &lt;/g&gt;
  &lt;line x1="0" y1="0" x2="200" y2="200" /&gt;
  &lt;text x="0" y="15"&gt;But the most general tag is...&lt;/text&gt;
&lt;/svg&gt;
            </code></pre>
          </section>

          <section>
            <h2>SVG tags</h2>

            <pre><code data-trim contenteditable>
&lt;svg width="800" height="500"&gt;
  &lt;g&gt;
    &lt;rect width="200" height="200" /&gt;
    &lt;circle cx="50" cy="50" r="40" /&gt;
  &lt;/g&gt;
  &lt;line x1="0" y1="0" x2="200" y2="200" /&gt;
  &lt;path d="M 110 -85 A 140 140 0 0 1 57 97 L 24 55 A 60 60 0 0 0 48 -37 Z"/&gt;
&lt;/svg&gt;
            </code></pre>

            <p>What?!?!?</p>
          </section>
        </section>


        <section>
          <h2>Transforms</h2>
          <p>First, create a simple graphics, then adjust it</p>

          <pre><code data-trim contenteditable>
&lt;svg width="800" height="500"&gt;
  &lt;g transform="rotate(90)"&gt;
    &lt;rect width="200" height="200" /&gt;
    &lt;circle cx="50" cy="50" r="40" /&gt;
  &lt;/g&gt;
  &lt;g transform="scale(1.2) translate(100, 100)"&gt;
    &lt;rect width="200" height="200" /&gt;
    &lt;circle cx="50" cy="50" r="40" /&gt;
  &lt;/g&gt;
&lt;/svg&gt;
          </code></pre>
        </section>

        <section>
          <section>
            <h2>Path operations</h2>
            <p>What was that nonsense in path?</p>

            <ul>
              <li>M = moveto</li>
              <li>L = lineto</li>
              <li>H = horizontal lineto</li>
              <li>V = vertical lineto</li>
              <li>C = curveto</li>
              <li>S = smooth curveto</li>
              <li>Q = quadratic Bézier curve</li>
              <li>T = smooth quadratic Bézier curveto</li>
              <li>A = elliptical Arc</li>
              <li>Z = closepath</li>
            </ul>
          </section>

          <section>
            <h2>Path operations</h2>
            <p>What was that nonsense in path?</p>

            <ul>
              <li>M x y</li>
              <li>L x y</li>
              <li>H x</li>
              <li>V y</li>
              <li>C x1 y1 x2 y2 x y</li>
              <li>S x2 y2 x y2</li>
              <li>Q x1 y1 x y</li>
              <li>T x y</li>
              <li>A rx ry xrot large_arc_flag sweep_flag x y</li>
              <li>Z</li>
            </ul>

            <p>Lowercase letters for relative coordinates</p>
          </section>
        </section>

        <section>
          <h2>The current state of graphics in the browser</h2>
          <ul>
            <li>Ad hoc libraries (Highcharts, Flot, ...)</li>
            <li>Customizable toolboxes (D3, ?)</li>
          </ul>
        </section>

        <section>
          <p>Most graphics libraries are not customizable enough in:</p>
          <ul>
            <li>Appearance</li>
            <li>Animation</li>
            <li>Interaction</li>
          </ul>
        </section>

        <section>
          <section>
            <h2>The D3 approach</h2>
            <p>D3 works by pairing data and elements</p>
          </section>

          <section>
            <h2>The D3 approach</h2>
            <p>D3 works by pairing data and DOM elements</p>
            <p>We can first select existing DOM elements and attach data to them...</p>
          </section>

          <section>
            <h2>The D3 approach</h2>
            <p>D3 works by pairing data and DOM elements</p>
            <p>We can first select existing DOM elements and attach data to them...</p>
            <p>...or select existing data and generate associated DOM</p>
          </section>
        </section>

        <section>
          <h2>Example 1</h2>
          <pre><code>
d3.select("div.output svg")
  .selectAll("rect") // Three existing rectangles
  .data([127, 61, 256])
  .attr("x", 0)
  .attr("y", function(d,i) { return i*90+50 })
  .attr("width", function(d,i) { return d; }) // Function of the datum
  .attr("height", 20)
  .style("fill", "steelblue")
          </code></pre>
        </section>

        <section>
          <h2>Example 2</h2>
          <pre><code>
d3.select("div.output svg")
  .selectAll("rect") // No existing rectangles by now
  .data([127, 61, 256])
  .enter() // what's this?
  .append("rect")
  .attr("x", 0)
  .attr("y", function(d,i) { return i*90+50 })
  .attr("width", function(d,i) { return d; })
  .attr("height", 20)
  .style("fill", "steelblue")
          </code></pre>
        </section>

        <section>
          <section>
            <h2>Stage metaphor</h2>
            <pre><code>var selection = d3.select("rect").data([...]);</code></pre>
          </section>

          <section>
            <h2>Stage metaphor</h2>
            <pre><code>var selection = d3.select("rect").data([...]);</code></pre>
            <p>The enter selection matches data not yet bound to elements</p>
            <pre><code>
var enter = selection.enter();
enter.append("rect") // Now it has elements
            </code></pre>
          </section>

          <section>
            <h2>Stage metaphor</h2>
            <pre><code>var selection = d3.select("rect").data([...]);</code></pre>
            <p>The enter selection matches data not yet bound to elements</p>
            <pre><code>
var enter = selection.enter();
enter.append("rect") // Now it has elements
            </code></pre>
            <p>The exit selection matches elements not yet bound to data</p>
            <pre><code>
var exit = selection.exit();
exit.remove() // No more mismatch
            </code></pre>
          </section>
        </section>

        <section>
          <p>The rest looks pretty much like jQuery</p>
          <pre><code>
selection
  .transition()
  .duration(3000)
    .attr("x", 0)
    .attr("y", function(d,i) { return i*90+50 })
    .attr("width", function(d,i) { return d; })
    .attr("height", 20)
    .style("fill", "steelblue")
    .transition()
    .duration(3000)
    .delay(3000)
      .style("fill", "green")
      .attr("width", function(d,i) {
          return d*1.5;
        })
          </code></pre>
        </section>

        <section>
          <section>
            <p>D3 is very powerful and versatile, but..</p>
          </section>

          <section>
            <p>D3 is very powerful and versatile, but..</p>
            <ul>
              <li>it is as imperative as jQuery</li>
            </ul>
          </section>

          <section>
            <p>D3 is very powerful and versatile, but..</p>
            <ul>
              <li>it is as imperative as jQuery</li>
              <li>it is hard to imagine the final result</li>
            </ul>
          </section>

          <section>
            <p>D3 is very powerful and versatile, but..</p>
            <ul>
              <li>it is as imperative as jQuery</li>
              <li>it is hard to imagine the final result</li>
              <li>pretends to have full control over the DOM</li>
            </ul>
          </section>

          <section>
            <p>D3 is very powerful and versatile, but..</p>
            <ul>
              <li>it is as imperative as jQuery</li>
              <li>it is hard to imagine the final result</li>
              <li>pretends to have full control over the DOM</li>
              <li>⇒ hard to integrate with MVC frameworks</li>
            </ul>
          </section>

          <section>
            <p>D3 is very powerful and versatile, but..</p>
            <ul>
              <li>it is as imperative as jQuery</li>
              <li>it is hard to imagine the final result</li>
              <li>pretends to have full control over the DOM</li>
              <li>⇒ hard to integrate with MVC frameworks</li>
              <li>the stage metaphor is just weird to work with</li>
            </ul>
          </section>

          <section>
            <p>D3 is very powerful and versatile, but..</p>
            <ul>
              <li>it is as imperative as jQuery</li>
              <li>it is hard to imagine the final result</li>
              <li>pretends to have full control over the DOM</li>
              <li>⇒ hard to integrate with MVC frameworks</li>
              <li>the stage metaphor is just weird to work with</li>
              <li>includes <a href="https://github.com/mbostock/d3/wiki/API-Reference">everything and the kitchen sink</a> (Ajax, CSV parsing, formatting, localization, colors, time...)</li>
            </ul>
          </section>
        </section>

        <section>
          <section>
            <h2>Idea 㦕!</h2>
            <p>What if we left all the rendering to frameworks like React, Angular, Ractive?</p>
          </section>

          <section>
            <h2>Idea 㦕!</h2>
            <p>What if we left all the rendering to frameworks like React, Angular, Ractive?</p>
            <p>Data binding could be used to make animations!</p>
          </section>
        </section>

        <section>
          <h2>Pros</h2>
          <ul>
            <li>Easy to visualize</li>
            <li>Easy to style</li>
            <li>Easy to integrate</li>
          </ul>
          <p>We just need a way to derive geometric shapes from the data</p>
        </section>

        <section>
          <h2>Paths.js</h2>

          <p>The path as a low level component</p>
          <pre><code class="javascript">
var path = Path() // paths are immutable
  .moveto(10, 20) // hence each operation returns a new path
  .lineto(30, 50)
  .lineto(25, 28)
  .qcurveto(27, 30, 32, 27)
  .closepath();
var d = path.print(); // The string representation
          </code></pre>
          <pre><code>
// in the template...
&lt;path d="{{ d }}" fill="red" /&gt;
          </code></pre>
        </section>

        <section>
          <h2>Shapes</h2>
          <p>Paths for common shapes can be generated from geometric data</p>
          <pre><code class="javascript">
var rectangle = Rectangle({top: 10, bottom: 3, left: -2, right: 5 });
var path = rectangle.path;
var labelPosition = rectangle.centroid; //useful to place labels
var sector = Sector({
  center: [10, 20],
  r: 5,
  R: 15,
  start: 0,
  end: Math.PI / 2
});
var path2 = sector.path;
          </code></pre>
        </section>

        <section>
          <section>
            <h2>Graphs</h2>
            <p>Collection of shapes can be derived from data</p>
            <pre><code class="javascript">
  var pie = Pie({
    data: [
      { name: 'Italy', population: 59859996 },
      ...
    ],
    accessor: function(x) { return x.population; }, // how to read the datum
    center: [20, 15],
    r: 30,
    R: 50
  });
            </code></pre>
          </section>

          <section>
            <h2>Graphs</h2>
              <p>The template side</p>
              <pre><code>
&lt;svg&gt;
{% for curve in pie.curves %}
  &lt;path d="{ curve.sector.path.print() }" fill="{ color(curve.index) }" &gt;
{% endfor %}
&lt;svg&gt;
            </code></pre>
          </section>
        </section>

        <section>
          <section>
            <h2>Why should I care?</h2>
            <ul>
              <li>Other graphs: bar charts, waterfall, radar charts, trees...</li>
            </ul>
          </section>

          <section>
            <h2>Why should I care?</h2>
            <ul>
              <li>Other graphs: bar charts, waterfall, radar charts, trees...</li>
              <li>Can still generate your own going lower level</li>
            </ul>
          </section>

          <section>
            <h2>Why should I care?</h2>
            <ul>
              <li>Other graphs: bar charts, waterfall, radar charts, trees...</li>
              <li>Can still generate your own going lower level</li>
              <li>Evertyhing is an AMD module: include only what you need...</li>
            </ul>
          </section>

          <section>
            <h2>Why should I care?</h2>
            <ul>
              <li>Other graphs: bar charts, waterfall, radar charts, trees...</li>
              <li>Can still generate your own going lower level</li>
              <li>Evertyhing is an AMD module: include only what you need...</li>
              <li>...but still small if you put everything</li>
            </ul>
          </section>

          <section>
            <h2>Why should I care?</h2>
            <ul>
              <li>Other graphs: bar charts, waterfall, radar charts, trees...</li>
              <li>Can still generate your own going lower level</li>
              <li>Evertyhing is an AMD module: include only what you need...</li>
              <li>...but still small if you put everything</li>
              <li>Only pure functions: easier to test</li>
            </ul>
          </section>

          <section>
            <h2>Why should I care?</h2>
            <ul>
              <li>Other graphs: bar charts, waterfall, radar charts, trees...</li>
              <li>Can still generate your own going lower level</li>
              <li>Evertyhing is an AMD module: include only what you need...</li>
              <li>...but still small if you put everything</li>
              <li>Only pure functions: easier to test</li>
              <li>Only pure functions: works on Node as well!</li>
            </ul>
          </section>
        </section>

        <section>
          <h2>Time for live examples!</h2>
        </section>

        <section>
          <h2>But first, some links</h2>

          <ul>
            <li><a href="http://www.w3.org/TR/SVG/">SVG spec</a></li>
            <li><a href="http://d3js.org/">D3</a></li>
            <li><a href="https://github.com/andreaferretti/paths-js">Paths.js</a></li>
            <li><a href="http://andreaferretti.github.io/paths-js-demo/">and its demo</a></li>
            <li><a href="http://mlarocca.github.io/01-22-2014/pathsjs_ractive.html">A post about the ideas behind Paths.js</a></li>
          </ul>
        </section>

        <section>
          <h1>THE END</h1>
          <h3>By Andrea Ferretti</h3>
        </section>

      </div>

    </div>

    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.min.js"></script>

    <script>

      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
        transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

        // Parallax scrolling
        // parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
        // parallaxBackgroundSize: '2100px 900px',

        // Optional libraries used to extend on reveal.js
        dependencies: [
          { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
          { src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
        ]
      });

    </script>

  </body>
</html>
